body {
    background-color: var(--fundo_primario);
    font-family:var(--fonte_principal);
    color:var(--text_color_principal);
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.sidebar {
    top: 0px;
    left: 0px;
    bottom: 0px;
    padding: 10px;
    width: 300px;
}
.sidebar .sidebar_navigation {
    background-color:var(--fundo_secundario);
    border-radius: 10px;
    padding: 10px;
}


.sidebar_navigation .logo {
    background: var(--fundo_terciario);
    border-radius: 8px;
    display: flex;
    padding: 10px;

}

.logo img {
    width: 100px;
}

.sidebar nav ul {
    margin: 0px 20px 10px 20px;
}

.sidebar .sidebar_navigation ul li {
    padding: 10px 0px;
}

.sidebar .sidebar_navigation ul li a {
    color: var(--text_color_principal);
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;   
}

.sidebar .biblioteca {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--fundo_secundario);
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px;
}

.biblioteca .biblioteca__content {
    display: flex;
    justify-content: space-between;
}

.biblioteca .biblioteca__content .biblioteca__button {
    display: flex;
    background-color: transparent;
    color: var(--text_color_principal);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-transform: none;
}

.biblioteca__button .fa-book {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
}

.biblioteca__content .fa-plus {
    padding-top: 33px;
}

.biblioteca__playlist {
    display: flex;
    flex-direction: column;
    background-color:var(--fundo_terciario);
    border-radius: 10px;
    padding: 10px;
}

.biblioteca__playlist .playlist-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    color:var(--text_color_secundario);
}

.biblioteca__playlist .title__playlist {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 5px;
}

.biblioteca__playlist .subtitle__playlist {
    font-weight: 100;
    font-size: 13px;
    margin-left: 10px;
}

.biblioteca__playlist .button__playlist {
    background-color:var(--btn_color);
    border-radius: 30px;
    width: 100px;
    padding: 10px;
    font-size: 11px;
    font-weight: 700;
}

.biblioteca .button_cookies {
    margin: 15px 0px 15px 15px;
}

.biblioteca .button_cookies a {
    color: var(--text_color_secundario);
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
}

.biblioteca .button_cookies a:hover {
    text-decoration: underline;
}

.biblioteca .language {
    margin: 10px 0px;
}

.biblioteca .language .button__language {
    background-color: transparent;
    color: var(--text_color_secundario);
    padding: 5px 10px;
    border: 1px solid var(--btn_border_color);
    border-radius: 25px;
    font-size: 15px;
}

.rodape__footer {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #db05c9, #09c3f1);
    padding: 15px 20px;
    margin: 5px 10px;
    border-radius: 10px;
}

.text__footer {
}

.text__footer .titulo {
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--text_color_secundario);
    font-weight: 600;
    font-size: 16px;
}

.text__footer .texto {
    color: var(--text_color_secundario);
    font-size: 13px;
    margin-bottom: 10px;
}

.rodape__footer .inscrever-se__button {
    background-color: var(--btn_color);
    border-radius: 30px;
    font-weight: 600;
    padding: 0px 30px;
    margin-right: 50px;
}