body{
    background-color: #000;
}
.sidebar_navigation{
    background-color: rgba(93, 110, 93, 0.2);
    border-radius: 10px;
    padding: 10px;
}
.sidebar{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    padding: 10px;
    width: 300px;
}
.sidebar_navigation .logo{
    background: #303831;
    border-radius: 8px;
    display:flex;
    padding: 8px;

}
.logo img{
    width: 80px;
}
.sidebar nav ul{
    margin: 0px 20px 10px 20px;
}
.sidebar .sidebar_navigation ul li{
    padding: 10px 10px;
}
.sidebar .sidebar_navigation ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
}
.sidebar .biblioteca{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    background-color: rgba(93, 110, 93, 0.2);
    color: #b3b3b3;
    font-weight: 600;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px;
}
.biblioteca .biblioteca__content {
    display: flex;
    justify-content: space-between; 
}
.biblioteca .biblioteca__content .biblioteca__button{
    display: flex;
    margin: 20px;
    color: #b3b3b3;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;  
    font-family: "DM Sans", sans-serif;
    text-decoration:none;
    text-transform: none;
}
.biblioteca__button .fa-book{
    font-size: 20px;
    margin-right: 5px;
    font-weight: 300;
    padding-right: 5px;
    padding-top: 0px;  
}
.biblioteca__content .fa-plus{
    padding-top: 33px;
}
.biblioteca__playlist{
    display: flex;
    flex-direction: column;
    background-color: #303831;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
}
.biblioteca__playlist .playlist-text{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;  
    font-family: "DM Sans", sans-serif;
    color: #fff;
}
.biblioteca__playlist .title__playlist{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;  
}
.biblioteca__playlist .subtitle__playlist{
    font-weight: 100;
    font-size: 13px;
    margin-left: 5px;
}
.biblioteca__playlist .button__playlist{
    background-color: #fff;
    border-radius:30px;
    width: 100px;
    padding: 10px;
    font-size: 11px;
    font-weight:700;
}
.biblioteca .button_cookies{
    margin: 10px 0px;
}
.biblioteca .button_cookies a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    font-family: "DM Sans", sans-serif;
    color: #b3b3b3;
}


